.features {
    padding-bottom: 200px;

    &--flex {
        background-color: #fff;
        padding: 40px 30px;
        border-radius: 6px;
        box-shadow: 0 0 15px 0 transparentize(#000, 0.9);
        display: flex;
        justify-content: space-between;
    }

    &--side {
        width: 25%;
        position: sticky;
        top: 100px;
        align-self: flex-start;
    }

    &--main {
        width: 80%;
    }

    &__li {
        list-style: none;
        margin-bottom: 20px;
    }

    &__a {
        font-size: 15rem;
        display: inline-block;
        padding: 13px 20px;
        transition: background-color .25s ease-in-out;

        &:hover {
            background-color: rgba(0, 145, 255, 0.1);
            border-radius: 4px;
            color: #0091FF;
            font-weight: 600;
        }
    }

    &__p {
        font-size: 15rem;
        color: #6B757E;
        line-height: 1.8;
        margin-bottom: 30px;
        width: 95%;
    }

    &__h4 {
        font-size: 16rem;
        line-height: 1.5;
        margin: 10px 0 10px;
        color: #0091FF;
    }

    @include mq(sm) {
        padding: 20px;

        &--flex {
            flex-direction: column;
            padding: 20px;
        }

        &--side {
            display: none;
        }

        &--main {
            width: 100%;
        }
    }
}

.feature__box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    flex-grow: 1;

    &--image {
        width: 50%;
        padding: 20px;
        margin-left: 20px;
    }

    @include mq(sm) {
        display: block;

        &--image {
            padding: 0;
            margin: 0;
            width: 100%;

            img {
                margin-top: 20px;
                height: auto;
                width: 100%;
            }
        }
    }
}

.square--image {
    padding: 32px 25px;
    border-radius: 6px;
    background-color: #F7F8FA;
    margin-top: 20px;
}

/**
 * Quick fade on target to attract user attention
 */

:target {
    animation: target-fade 3s 1;
}

@keyframes target-fade {
    0% {
        background-color: rgba(0, 145, 255, 0.1);
    }

    100% {
        background-color: rgba(0, 0, 0, 0);
    }
}