.footer {
    padding: 110px 85px 40px;
    background-color: #0A192B;
    color: #fff;

    @include mq(sm) {
        padding: 20px;
    }

    &--flex {
        display: flex;
        flex: 1 1 auto;
        margin-bottom: 70px;

        @include mq(sm) {
            display: block;
        }

    }

    &--column {
        flex-grow: 1;
        margin-right: 50px;
        font-size: 15rem;

        @include mq(sm) {
            background-color: #04101E;
            margin: 0 0 20px;
            padding: 20px;
        }

        &--first {
            flex-basis: 25%;
            background-color: unset;
        }

        &--second {
            flex-basis: 15%;
        }

        ul {
            margin: 20px 0;
        }
    }

    &__address {
        margin: 20px 0;
        font-style: normal;
    }

    &__h4 {
        color: #fff;
        text-transform: uppercase;
        outline: none;

        @include mq(sm) {
            cursor: pointer;
        }

        &:focus~.footer__ul {
            padding: 20px 0;
            max-height: 500px;
            visibility: visible;
        }
    }

    &__ul {
        margin-top: 20px 0;

        @include mq(sm) {
            max-height: 0;
            overflow: hidden;
            margin: 0;
            visibility: hidden;
            transition: max-height .3s linear;
        }
    }

    &__li {
        list-style: none;
        display: block;
        margin-bottom: 15px;
    }

    &--text {
        color: rgba(255, 255, 255, 0.6);
        line-height: 1.66;
    }

    &--logo {
        margin-bottom: 20px;
        height: 35px;
    }

    &--paragraph {
        line-height: 2.4;
    }

    &--copyright {
        text-align: center;
        font-size: 12rem;
        color: transparentize(#fff, 0.7)
    }
}

.pre-footer {
    position: relative;

    &--bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.2;

        @include mq(sm) {
            display: none;
        }
    }

    &--image {
        position: absolute;
        top: 50%;
        right: 90px;
        transform: translateY(-50%);

        @include mq(sm) {
            display: none;
        }
    }

    &__a {
        padding: 15px 30px;
        background-color: #fff;
        border-radius: 6px;
        color: #0A192B;
        margin-top: 15px;
        display: inline-block;

        @include mq(sm) {
            width: 100%;
            margin-bottom: 30px;
            text-align: center;
        }

        &--image {
            transform: translateY(20%);
            margin-right: 10px;
        }
    }
}