.hardware {
    padding-bottom: 200px;

    &--item {
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
        font-size: 15rem;
        margin-bottom: 30px;
        display: flex;
    }

    &--item:nth-child(2) {
        ul {

            li:last-child > a {
                color: #4AA3DF;
            }
            
            li:last-child::before {
                content: unset;
            }
        }
    }

    &--image {
        width: 268px;
        height: 256px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 200px;
            width: auto;
        }
    }

    &--details {
        padding: 50px;

        ul {
            list-style: none;
            width: 500px;
            display: inline-flex;
            justify-content: space-between;
            flex-wrap: wrap;
            color: #6B757E;
            font-size: 15px;

            li {
                width: 200px;
                margin-bottom: 15px;
                margin-left: 30px;
                position: relative;
            }

            li::before {
                content: url('/images/checkbox.svg');
                padding-right: 10px;
                position: absolute;
                left: -30px;
            }
        }
    }

    &__h4 {
        color: #0091FF;
        font-size: 20px;
        margin-bottom: 30px;
    }

    &--flex {
        display: flex;
        justify-content: space-between;
    }

    @include mq(sm) {

        padding: 20px;

        &--flex {
            flex-direction: column;
            margin: 40px 0;
        }

        &--item {
            display: block;
            padding-top: 20px;
        }

        &--image {
            width: 100%;
            margin-top: 20px;
    
            img {
                height: auto;
                width: 60%;
            }
        }

        &--details {
            padding: 20px;
    
            ul {
                width: 100%;
                display: block;
            }
        }
    }
}
