.integration {
    padding-bottom: 200px;

    &--flex {
        display: flex;
        margin-top: 40px;
        justify-content: space-between;
        flex-wrap: wrap;
        background-color: #fff;
        border-radius: 10px;
        padding: 50px;
        font-size: 15rem;
        box-shadow: 0 0 15px 0 transparentize(#000, 0.9);
    }

    &--brief {
        width: 40%;

        p {
            margin-bottom: 40px;
        }

        span {
            color: #4EAEFC;
        }
    }

    &--summary {
        
        width: 50%;
        display: inline-flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-height: 500px;

        .summary--item {
            display: flex;
            width: 40%;
        }

        .summary--review {

            margin-left: 30px;

            h1 {
                font-size: 45px;
                font-weight: 800;
            }
    
            p {
                font-size: 20px;
                line-height: 36px;
            }
        }

    }

    &__h4 {
        font-size: 18rem;
        color: #0091FF;
        margin-bottom: 15px;
        line-height: 1.2;
    }

    &__p {
        color: #6B757E;
        font-size: 15rem;
        font-weight: 400;
        line-height: 1.66;
    }

    @include mq(lg) {
        &--flex {
            margin-top: 70px;
        }

        &--summary {
            display: block;

            .summary--item {
                margin-bottom: 20px;
            }
        }
    }

    @include mq(md) {
        padding: 20px;

        &--flex {
            box-shadow: unset;
            flex-direction: column;
            padding: 20px;
            margin-top: 20px;
        }

        &--brief {
            width: 100%;
        }

        &--summary {
            display: flex;
            width: 60%;
            min-height: 400px;
        }
    }

    @include mq(sm) {
        &--summary {
        
            display: block;
            width: 90%;
            min-height: 600px;

            .summary--item {
                margin-bottom: 20px;
            }
    
        }
    }

}