.nav {
    background-color: #0091FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15rem;
    color: #fff;
    padding: 30px 80px;

    &--center {
        &__li {
            list-style: none;
            display: inline-block;
            padding: 0 10px;
            position: relative;

            &:hover .nav--dropdown {
                padding: 15px;
                max-height: 200px;
                visibility: visible;
            }
        }
    }

    &__link {
        display: inline-block;
        width: 100%;
        text-transform: capitalize;
        padding: 15px;

    }

    &__button {
        padding: 10px 20px;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 3px;
        text-transform: uppercase;
    }

    &--flag {
        padding: 10px 10px;
        margin-left: 5px;
        display: inline-block;

        img {
            display: inline-block;
            vertical-align: middle;
        }
    }

    &--dropdown {
        position: absolute;
        background-color: #fff;
        color: #0A192B;
        z-index: 1;
        max-height: 0;
        overflow: hidden;
        visibility: hidden;
        transition: max-height .25s linear;

        &__li {
            list-style: none;
            margin-bottom: 15px;
        }

        &__a {
            display: inline-block;
            width: 100%;

            &:hover {
                color: #0091FF;
            }
        }

    }
}

.top-nav {
    background-color: #050E19;
    color: #fff;
    font-size: 15rem;
    padding: 10px 0;

    &__list {
        margin: 0 auto;
        text-align: center;
    }

    &__link {
        padding: 0 50px;
        text-transform: uppercase;
    }
}