.top-nav {
    background-color: #050E19;
    color: #fff;
    font-size: 15rem;
    padding: 10px 0;
    display: block;

    &__list {
        margin: 0 auto;
        text-align: center;
    }

    &__link {
        padding: 40px;
        text-transform: uppercase;
    }

    @include mq(sm) {

        &__link {
            display: block;
            padding: 20px;
        }
    }
}

.nav {
    background-color: #0091FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15rem;
    color: #fff;
    padding: 30px 80px;


    &--right {

        img {
            display: none;
        }
    }

    &--center {
        &__li {
            list-style: none;
            display: inline-block;
            padding: 0 10px;
            position: relative;

            &:hover .nav--dropdown {
                padding: 15px;
                max-height: 200px;
                visibility: visible;
            }
        }

        @include mq(sm) {
            display: none;
        }
    }

    &__link {
        display: inline-block;
        width: 100%;
        text-transform: capitalize;
        padding: 15px;

        &__img {
            display: inline-block;
            vertical-align: middle;
            margin-left: 5px;
        }

    }

    &__button {
        padding: 10px 20px;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 3px;
        text-transform: uppercase;
    }

    &--flag {
        padding: 10px 10px;
        margin-left: 5px;
        display: inline-block;

        img {
            display: inline-block;
            vertical-align: middle;
        }
    }

    &--dropdown {
        position: absolute;
        background-color: #fff;
        color: #0A192B;
        z-index: 1;
        max-height: 0;
        overflow: hidden;
        visibility: hidden;
        transition: max-height .25s linear;

        &__li {
            list-style: none;
            margin-bottom: 15px;
        }

        &__a {
            display: inline-block;
            width: 100%;

            &:hover {
                color: #0091FF;
            }
        }

    }

    @include mq(sm) {
        padding: 20px;
        align-items: center;

        &__button:first-child {
            display: none;
        }

        &__link {
            display: none;
        }

        &--left {

            img {
                height: 30px;
            }
        }

        &--right {
            display: flex;

            img {
                display: block;
                margin-left: 30px;

                @include mq(sm) {
                    margin-left: 10px;
                }
            }
        }

        &--flag {

            img {
                margin: 0;
            }
        }

        .top {
            padding: 0;
        }
    }
}