.two-column-section {
    background-color: #0091FF;
    color: #fff;
    font-size: 18rem;
    padding: 90px;

    &--flex {
        display: flex;
        justify-content: space-between;
    }

    &--left {
        max-width: 500px;
    }

    &__h2 {
        font-size: 45rem;
        line-height: 1.33;

        @include mq(sm) {
            font-size: 35rem;
            text-align: center;
        }

    }

    &__p {
        font-size: 16rem;
        font-weight: 400;
        margin: 30px 0;
        line-height: 1.5;

        @include mq(sm) {
            text-align: center;
        }
    }

    @include mq(sm) {
        padding: 20px;

        &--flex {
            flex-direction: column;
            margin: 40px 0;
        }
    }
}

.center-column-section {
    background-color: #0A192B;
    color: #fff;
    padding: 100px 0 180px;

    &__h2,
    &__p {
        text-align: center;
        max-width: 750px;
        margin: 0 auto;

        @include mq(sm) {
            padding: 0 20px;
        }
    }

    &__h2 {
        margin-bottom: 20px;
        font-size: 36rem;
        line-height: 1.33;
    }

    &__p {
        color: rgba(255, 255, 255, 0.8);
        font-size: 18rem;
        line-height: 1.5;
    }

    @include mq(sm) {
        padding: 100px 0;
    }
}

.box {
    padding: 30px;
    border-radius: 20px;
    font-size: 16rem;
    width: 350px;
    height: 350px;
    position: relative;
    background-color: #fff;

    &--container {
        display: flex;
        justify-content: space-between;
        max-width: 1150px;
        margin: 100px auto 0;

        @include mq(sm) {
            flex-wrap: nowrap;
            overflow-x: auto;
            margin: 50px 0;
        }
    }

    &__img {
        position: absolute;
        bottom: 30px;
        left: 30px;
        display: inline-block;

        @include mq(sm) {
            width: 80px;
            height: 80px;
        }
    }

    &__p {
        color: #6B757E;
        line-height: 1.66;
    }

    &__h4 {
        font-size: 18rem;
        font-weight: 700;
        color: #323D55;
        margin-bottom: 15px;
    }

    @include mq(sm) {
        flex: 0 0 auto;
        width: 270px;
        transform-origin: left center;
        margin-left: 20px;
    }
}

.page-content {
    margin: -100px 90px 50px;

    @include mq(sm) {
        margin: 0;
    }
}