@font-face {
    font-family: "MarkPro";
    src: url("../fonts/MarkPro.ttf") format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 6.25%;
}

body {
    font-family: MarkPro, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    outline: none;
    border: 0;
}

a,
button {
    cursor: pointer;
}

.text-left {
    text-align: left;
}

@import 'section';
@import 'nav';
@import 'home';
@import 'hardware';
@import 'faq';
@import 'stories';
@import 'pricing';
@import 'features';
@import 'footer';
@import 'theme';